* {
  padding: 0;
  margin: 0;
  vector-effect: non-scaling-stroke;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

#coils-chart svg {
  background-color: white;
}

.coil {
  pointer-events: none;
}

.line {
  fill: none;
  stroke-width: 2px;
  stroke: #2196f3;
}

.area {
  fill: #d2eafc;
}

.domain {
  stroke: #e1e1e3;
}

.tick line {
  stroke: #e1e1e3;
}

.tick text {
  color: rgba(0, 0, 0, 0.8);
}

#tooltip-bottom-text,
#tooltip-right-text {
  font-size: 12px;
}
