* {
  padding: 0;
  margin: 0;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

#coils-chart svg {
  background-color: #080e2d;
}

.coil {
  pointer-events: none;
}

.line {
  fill: none;
  stroke-width: 3px;
  stroke: #546ee5;
}

.area {
  fill: rgba(255, 255, 255, 0.1);
}

.domain {
  stroke: rgba(255, 255, 255, 0.3);
}

.tick text {
  color: rgba(255, 255, 255, 0.3);
}
